<div class="contenedor-tabla">
  <div class="container-flex">
    <h2 class="mb-4">{{titleTabla | uppercase}}</h2>

  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr class="table-primary">
          <th>ID</th>
          <th>NOMBRE USUARIO</th>
          <th>FECHA NACIMIENTO</th>
          <th>EDAD</th>
          <th>DIRECCION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.name }}</td>
          <td>{{ usuario.user_domicilio.fecha_nacimiento }}</td>
          <td>{{ usuario.edad }}</td>
          <td>
            {{ usuario.user_domicilio.domicilio }}
            #{{ usuario.user_domicilio.numero_exterior }}<br>
            {{ usuario.user_domicilio.colonia }}, {{ usuario.user_domicilio.cp }}
            {{ usuario.user_domicilio.ciudad }}
        
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>